<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
  <title>WOBInews</title>

  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="">

  <meta property="og:url"           content="<%= news.path %>" />
  <meta property="og:type"          content="<%= news.category %>" />
  <meta property="og:title"         content="<%= news.title %>" />
  <meta property="og:description"   content="" />
  <meta property="og:image"         content="<%= news.main_image_link %>" />

</head>

<body class="bg-light single-post style-default style-rounded" ng-controller="singleNewsCtlr">

  <!-- Preloader -->
 

  <main class="main oh" id="main" ng-cloak>

   

  </main> <!-- end main-wrapper -->
 
  
</body>

<!-- Mirrored from junniepat.com/envato/WOBI/html/single-post.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 13 Jun 2018 16:12:38 GMT -->
</html>