<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="singleNewsCtlr">

<head>
  <title>WOBINEWS</title>

  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="">

 <meta property="og:url"           content="<%= news.share %>" />
  <meta property="og:type"          content="<%= news.category %>" />
  <meta property="og:title"         content="<%= news.title %>" />
  <meta property="og:description"   content="" />
  <meta property="og:image"         content="https://wobinews.com/content/media/e45e8d1c991db03535fafc6c810c9774" />


  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,600,700%7CSource+Sans+Pro:400,600,700' rel='stylesheet'>

  <!-- Css -->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/css/font-icons.css" />
  <link rel="stylesheet" href="/assets/css/style.css" />

  <!-- Favicons -->
  <link rel="shortcut icon" href="/assets/img/favicon.ico">
  <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.html">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/apple-touch-icon-114x114.png">

  <!-- Lazyload (must be placed in head in order to work) -->
  <script src="/assets/js/lazysizes.min.js"></script>

   <!-- angular js  -->
  <script src="/assets/js/angular-1.7.2/angular.min.js"></script>

</head>

<body class="bg-light single-post style-default style-rounded" >

  <!-- Preloader -->
  <div class="loader-mask">
    <div class="loader">
      <div></div>
    </div>
  </div>
  
  <!-- Bg Overlay -->
  <div class="content-overlay"></div>

  <!-- Sidenav -->    
  <header class="sidenav" id="sidenav">

    <!-- close -->
    <div class="sidenav__close">
      <button class="sidenav__close-button" id="sidenav__close-button" aria-label="close sidenav">
        <i class="ui-close sidenav__close-icon"></i>
      </button>
    </div>
    
    <!-- Nav -->
     <nav class="sidenav__menu-container">
      <ul class="sidenav__menu" role="menubar">
        <!--<li>
          <a href="#" class="sidenav__menu-url">Home</a>
          <button class="sidenav__menu-toggle" aria-haspopup="true" aria-label="Open dropdown"><i class="ui-arrow-down"></i></button>
          <ul class="sidenav__menu-dropdown">
            <li><a href="index-2.html" class="sidenav__menu-url">Home Default</a></li>
            <li><a href="index-politics.html" class="sidenav__menu-url">Home Politics</a></li>
            <li><a href="index-fashion.html" class="sidenav__menu-url">Home Fashion</a></li>
            <li><a href="index-games.html" class="sidenav__menu-url">Home Games</a></li>
            <li><a href="index-videos.html" class="sidenav__menu-url">Home Videos</a></li>
            <li><a href="index-music.html" class="sidenav__menu-url">Home Music</a></li>
          </ul>
        </li>-->
        <li>
          <a href="#" class="sidenav__menu-url">Get in touch</a>
          <button class="sidenav__menu-toggle" aria-haspopup="true" aria-label="Open dropdown"><i class="ui-arrow-down"></i></button>
          <ul class="sidenav__menu-dropdown">
            <li><a href="about.html" class="sidenav__menu-url">About</a></li>
            <li><a href="contact.html" class="sidenav__menu-url">Contact</a></li>
            <!--<li><a href="search-results.html" class="sidenav__menu-url">Search Results</a></li>
            <li><a href="categories.html" class="sidenav__menu-url">Categories</a></li>
           <li><a href="404.html" class="sidenav__menu-url">404</a></li>-->
          </ul>
        </li>
       <!-- <li>
          <a href="#" class="sidenav__menu-url">Features</a>
          <button class="sidenav__menu-toggle" aria-haspopup="true" aria-label="Open dropdown"><i class="ui-arrow-down"></i></button>
          <ul class="sidenav__menu-dropdown">
            <li>
              <a href="#" class="sidenav__menu-url">Single Post</a>
              <button class="sidenav__menu-toggle" aria-haspopup="true" aria-label="Open dropdown"><i class="ui-arrow-down"></i></button>
              <ul class="sidenav__menu-dropdown">
                <li><a href="single-post.html" class="sidenav__menu-url">Style 1</a></li>
                <li><a href="single-post-politics.html" class="sidenav__menu-url">Style 2</a></li>
                <li><a href="single-post-fashion.html" class="sidenav__menu-url">Style 3</a></li>
                <li><a href="single-post-games.html" class="sidenav__menu-url">Style 4</a></li>
                <li><a href="single-post-videos.html" class="sidenav__menu-url">Style 5</a></li>
                <li><a href="single-post-music.html" class="sidenav__menu-url">Style 6</a></li>
              </ul>
            </li>
            <li><a href="shortcodes.html" class="sidenav__menu-url">Shortcodes</a></li>
          </ul>
        </li>  -->      

        <!-- Categories -->
        <li>
          <a href="/" class="sidenav__menu-url">Home</a>
        </li>
        <li>
          <a href="/category/politics" class="sidenav__menu-url">Politics</a>
        </li>
         <li>
          <a href="/category/business" class="sidenav__menu-url">Business</a>
        </li>
         <li>
          <a href="/category/sports" class="sidenav__menu-url">Sports</a>
        </li>
         <li>
          <a href="/category/lifestyle" class="sidenav__menu-url">Lifestyle</a>
        </li>
         <li>
          <a href="/category/entertainment" class="sidenav__menu-url">Entertainment</a>
        </li>
        <li>
          <a href="/category/technology" class="sidenav__menu-url">Technology</a>
        </li>
         <li>
          <a href="/category/world" class="sidenav__menu-url">World</a>
        </li>
        <!--<li>
          <a href="/career" class="sidenav__menu-url">Lifestyle</a>
        </li>-->
       
      </ul>
    </nav>

    <div class="socials sidenav__socials"> 
      <a class="social social-facebook" href="https://www.facebook.com/wobinews1/" target="_blank" aria-label="facebook">
        <i class="ui-facebook"></i>
      </a>
      <a class="social social-twitter" href="https://twitter.com/wobinews" target="_blank" aria-label="twitter">
        <i class="ui-twitter"></i>
      </a>
     <!-- <a class="social social-google-plus" href="#" target="_blank" aria-label="google">
        <i class="ui-google"></i>
      </a>
      <a class="social social-youtube" href="#" target="_blank" aria-label="youtube">
        <i class="ui-youtube"></i>
      </a>-->
      <a class="social social-instagram" href="https://www.instagram.com/wobinews/" target="_blank" aria-label="instagram">
        <i class="ui-instagram"></i>
      </a>
    </div>
  </header> <!-- end sidenav -->


  <main class="main oh" id="main" ng-cloak>

    <!-- Top Bar -->
    <div class="top-bar d-none d-lg-block">
      <div class="container">
        <div class="row">

          <!-- Top menu -->
          <div class="col-lg-6">
            <ul class="top-menu">
            <a href="/" class="logo">
            <h2 style="text-shadow: 1px 1px 2px grey;padding-top: 5px;color: orange"><b>wobinews.com</b></h2>
              <!--<img class="logo__img" style="height: 30px;" src="/assets/img/logo_default.png" srcset="/assets/img/logo_default.png 1x, /assets/img/logo_default@2x.png 2x" alt="logo">-->
            </a>

              <!--<li><a href="#">About</a></li>
              <li><a href="#">Advertise</a></li>
              <li><a href="#">Contact</a></li>-->
            </ul>
          </div>
          
          <!-- Socials -->
          <div class="col-lg-6">
            <div class="socials nav__socials socials--nobase socials--white justify-content-end"> 
              <a class="social social-facebook" href="https://www.facebook.com/wobinews1/" target="_blank" aria-label="facebook">
              <i class="ui-facebook"></i>
            </a>
            <a class="social social-twitter" href="https://twitter.com/wobinews" target="_blank" aria-label="twitter">
              <i class="ui-twitter"></i>
            </a>
           <!-- <a class="social social-google-plus" href="#" target="_blank" aria-label="google">
              <i class="ui-google"></i>
            </a>
            <a class="social social-youtube" href="#" target="_blank" aria-label="youtube">
              <i class="ui-youtube"></i>
            </a>-->
            <a class="social social-instagram" href="https://www.instagram.com/wobinews/" target="_blank" aria-label="instagram">
              <i class="ui-instagram"></i>
            </a>
            </div>
          </div>

        </div>
      </div>
    </div> <!-- end top bar -->
        

    <!-- Navigation -->
    <header class="nav">

      <div class="nav__holder nav--sticky">
        <div class="container relative">
          <div class="flex-parent">

            <!-- Side Menu Button -->
            <button class="nav-icon-toggle" id="nav-icon-toggle" aria-label="Open side menu">
              <span class="nav-icon-toggle__box">
                <span class="nav-icon-toggle__inner"></span>
              </span>
            </button> 

            <!-- Logo -->
            <!--<a href="/" class="logo">
            <h2 style="text-shadow: 1px 1px 2px grey;padding-top: 5px;color: orange"><b>wobinews.com</b></h2>
             
            </a>-->

            <!-- Nav-wrap -->
            <nav class="flex-child nav__wrap d-none d-lg-block">              
              <ul class="nav__menu">

                 <li class="nav__dropdow">
                  <a href="/">Home</a>
                  <!--<ul class="nav__dropdown-menu">
                    <li><a href="index-2.html">Home Default</a></li>
                    <li><a href="index-politics.html">Home Politics</a></li>
                    <li><a href="index-fashion.html">Home Fashion</a></li>
                    <li><a href="index-games.html">Home Games</a></li>
                    <li><a href="index-videos.html">Home Videos</a></li>
                    <li><a href="index-music.html">Home Music</a></li>
                  </ul>-->
                </li>

                <li class="nav__dropdow">
                  <a href="/category/politics">Politics</a>
                  <!--<ul class="nav__dropdown-menu nav__megamenu">
                    <li>
                      <div class="nav__megamenu-wrap">
                        <div class="row">

                          <div class="col nav__megamenu-item">
                            <article class="entry">
                              <div class="entry__img-holder">
                                <a href="single-post.html">
                                  <img src="/assets/img/content/grid/grid_post_1.jpg" alt="" class="entry__img">
                                </a>
                                <a href="categories.html" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--violet">world</a>
                              </div>

                              <div class="entry__body">   
                                <h2 class="entry__title">
                                  <a href="single-post.html">Follow These Smartphone Habits of Successful Entrepreneurs</a>
                                </h2>
                              </div>
                            </article>
                          </div>

                          <div class="col nav__megamenu-item">
                            <article class="entry">
                              <div class="entry__img-holder">
                                <a href="single-post.html">
                                  <img src="/assets/img/content/grid/grid_post_2.jpg" alt="" class="entry__img">
                                </a>
                                <a href="categories.html" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--purple">fashion</a>
                              </div>

                              <div class="entry__body">   
                                <h2 class="entry__title">
                                  <a href="single-post.html">3 Things You Can Do to Get Your Customers Talking About Your Business</a>
                                </h2>
                              </div>
                            </article>
                          </div>

                          <div class="col nav__megamenu-item">
                            <article class="entry">
                              <div class="entry__img-holder">
                                <a href="single-post.html">
                                  <img src="/assets/img/content/grid/grid_post_3.jpg" alt="" class="entry__img">
                                </a>
                                <a href="categories.html" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--blue">business</a>
                              </div>

                              <div class="entry__body">   
                                <h2 class="entry__title">
                                  <a href="single-post.html">Lose These 12 Bad Habits If You're Serious About Becoming a Millionaire</a>
                                </h2>
                              </div>
                            </article>
                          </div>

                          <div class="col nav__megamenu-item">
                            <article class="entry">
                              <div class="entry__img-holder">
                                <a href="single-post.html">
                                  <img src="/assets/img/content/grid/grid_post_4.jpg" alt="" class="entry__img">
                                </a>
                                <a href="categories.html" class="entry__meta-category entry__meta-category--label entry__meta-category--align-in-corner entry__meta-category--green">lifestyle</a>
                              </div>

                              <div class="entry__body">   
                                <h2 class="entry__title">
                                  <a href="single-post.html">10 Horrible Habits You're Doing Right Now That Are Draining Your Energy</a>
                                </h2>
                              </div>
                            </article>
                          </div>

                        </div>
                      </div>
                    </li>
                  </ul>--> <!-- end megamenu -->
                </li>

                <li class="nav__dropdow">
                  <a href="/category/business">Business</a>
                  <!--<ul class="nav__dropdown-menu">
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="search-results.html">Search Results</a></li>
                    <li><a href="categories.html">Categories</a></li>
                    <li><a href="404.html">404</a></li>
                  </ul>-->
                </li>                

                <li class="nav__dropdow">
                  <a href="/category/sports">Sports</a>
                  <!--<ul class="nav__dropdown-menu">
                  
                    <li class="nav__dropdown">
                      <a href="#">Single Post</a>
                      <ul class="nav__dropdown-menu">
                        <li><a href="single-post.html">Style 1</a></li>
                        </ul>
                    </li>
                  </ul>-->
                </li>
                <li class="nav__dropdow">
                  <a href="/category/lifestyle">Lifestyle</a>
                  <!--<ul class="nav__dropdown-menu">
                  
                    <li class="nav__dropdown">
                      <a href="#">Single Post</a>
                      <ul class="nav__dropdown-menu">
                        <li><a href="single-post.html">Style 1</a></li>
                        </ul>
                    </li>
                  </ul>-->
                </li>
                <li class="nav__dropdow">
                  <a href="/category/entertainment">Entertainment</a>
                  <!--<ul class="nav__dropdown-menu">
                  
                    <li class="nav__dropdown">
                      <a href="#">Single Post</a>
                      <ul class="nav__dropdown-menu">
                        <li><a href="single-post.html">Style 1</a></li>
                        </ul>
                    </li>
                  </ul>-->
                </li>

                <li class="nav__dropdow">
                  <a href="/category/technology">Technology</a>
                  <!--<ul class="nav__dropdown-menu">
                  
                    <li class="nav__dropdown">
                      <a href="#">Single Post</a>
                      <ul class="nav__dropdown-menu">
                        <li><a href="single-post.html">Style 1</a></li>
                        </ul>
                    </li>
                  </ul>-->
                </li>
                <li class="nav__dropdow">
                  <a href="/category/world">World</a>
                  <!--<ul class="nav__dropdown-menu">
                  
                    <li class="nav__dropdown">
                      <a href="#">Single Post</a>
                      <ul class="nav__dropdown-menu">
                        <li><a href="single-post.html">Style 1</a></li>
                        </ul>
                    </li>
                  </ul>-->
                </li>
                <li class="nav__dropdow">
                  <a href="/category/career">Career</a>
                  <!--<ul class="nav__dropdown-menu">
                  
                    <li class="nav__dropdown">
                      <a href="#">Single Post</a>
                      <ul class="nav__dropdown-menu">
                        <li><a href="single-post.html">Style 1</a></li>
                        </ul>
                    </li>
                  </ul>-->
                </li>


              </ul> <!-- end menu -->
            </nav> <!-- end nav-wrap -->

            <!-- Nav Right -->
            <div class="nav__right">

              <!-- Search -->
              <div class="nav__right-item nav__search">
                <a href="#" class="nav__search-trigger" id="nav__search-trigger">
                  <i class="ui-search nav__search-trigger-icon"></i>
                </a>
                <div class="nav__search-box" id="nav__search-box">
                  <form class="nav__search-form">
                    <input type="text" placeholder="Search an article" class="nav__search-input">
                    <button type="submit" class="search-button btn btn-lg btn-color btn-button">
                      <i class="ui-search nav__search-icon"></i>
                    </button>
                  </form>
                </div>                
              </div>             

            </div> <!-- end nav right -->            
        
          </div> <!-- end flex-parent -->
        </div> <!-- end container -->

      </div>
    </header> <!-- end navigation -->

    <!-- Breadcrumbs -->
    <div class="container">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item">
          <a href="/" class="breadcrumbs__url">Home</a>
        </li>
        <li class="breadcrumbs__item">
          <a href="" class="breadcrumbs__url">News</a>
        </li>
        <!--<li class="breadcrumbs__item breadcrumbs__item--current">
          World
        </li>-->
      </ul>
    </div>

    <div class="main-container container" id="main-container">

      <!-- Content -->
      <div class="row">
            
        <!-- post content -->
        <div class="col-lg-8 blog__content mb-72">
          <div class="content-box">           

            <!-- standard post -->
            <article class="entry mb-0">
              
              <div class="single-post__entry-header entry__header">
                <a href="" class="entry__meta-category entry__meta-category--label entry__meta-category--green">{{news.category}}</a>
                <h1 class="single-post__entry-title">
                  {{news.title}}
                </h1>

                <div class="entry__meta-holder">
                  <ul class="entry__meta">
                    <!--<li class="entry__meta-author">
                      <span>by</span>
                      <a href="#">{{news.reporter_name}}</a>
                    </li>-->
                    <li class="entry__meta-date">
                      {{news.pubDate | date : 'fullDate'}}
                    </li>
                  </ul>

                  <ul class="entry__meta">
                    <li class="entry__meta-views">
                      <i class="ui-eye"></i>
                      <span>{{news.views}}</span>
                    </li>
                    <li class="entry__meta-comments">
                      <a href="">
                        <i class="ui-chat-empty"></i>{{news.comments.length}}
                      </a>
                    </li>
                  </ul>
                </div>
              </div> <!-- end entry header -->

              <div class="entry__img-holder">
                <img src="{{news.main_image_link}}" alt="" class="entry__img">
              </div>

              <div class="entry__article-wra">

                <!-- Share -->
                <div class="entry__share">
                  <div class="sticky-col">
                    <div class="socials socials--rounded socials--large">
                      <!--<a class="social social-facebook" href="{{news.path}}"  data-layout="button_count" title="facebook share" aria-label="facebook">
                        <i class="ui-facebook"></i>
                      </a>-->
                      <div class="fb-share-button" data-href="{{news.share}}" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                      <a class="social social-twitter" href="#" title="twitter" target="_blank" aria-label="twitter">
                        <i class="ui-twitter"></i>
                      </a>
                      <!--<a class="social social-google-plus" href="#" title="google" target="_blank" aria-label="google">
                        <i class="ui-google"></i>
                      </a>
                      <a class="social social-pinterest" href="#" title="pinterest" target="_blank" aria-label="pinterest">
                        <i class="ui-pinterest"></i>
                      </a>-->
                    </div>
                  </div>                  
                </div> <!-- share -->
               
                <div>
                  <div data-ng-bind-html="trustAsHtml(news.article)"></div>
                </div>

                <!--<div class="entry__article">
                  <p>iPrice Group report offers insights on <a href="#">daily e-commerce</a> activity in the Philippines and Southeast. Statistically, you stand a better chance for success if you have some sort of strategic ask in almost everything that you do in-person, on the phone, over email, or on social media.</p>

                  <p><strong>Think about it:</strong> If you make one additional ask per day and convert at around 10 percent. Then you have three people each month providing you with benefits that you'd have missed otherwise It's essential to make sure that your ask relates to some direct path to what you want, whether it is revenue, a business relationship or anything else of prime importance to you.</p>

                  <blockquote><p>“Dreams and dedication are powerful combination.”</p>
                  </blockquote>                          

                  <p>Music can help you get into a “flow state” losing yourself in the task at hand. Even repetitive tasks or mundane assignments seem more bearable, or even fun, when your favorite tunes are in your ears.</p>

                  <h2>Set a bigger goals and chase them everyday</h2>
                  <p>Plus, your eyes won’t be so prone to checking the time. <a href="#">Check out these</a> and more reasons to bring your music to work in this Zing Instruments infographic below. A great piece of music is an instant mood lifter. Plenty of scientific evidence backs this up - we`re happier bunnies when listening to music.</p>

                  <figure class="alignleft">
                    <img data-src="/assets/img/content/single/single_post_img_1.jpg" src="/assets/img/empty.png" alt="" class="lazyload">
                    <figcaption>Having specific asks</figcaption>
                  </figure>             

                  <p>Nulla rhoncus orci varius purus lobortis euismod. Fusce tincidunt dictum est et rhoncus. <strong>Vivamus hendrerit congue nisi, et nisl tincida</strong> vestibulum elit tincidunt eu. Vivamus ac pharetra orci, in feugiat massa. Proin congue mauris pretium, ultricies tortor in, aliquam urna. Vivamus mi tortor, <a href="#">finibus a interdum</a> ac, ultricies in elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere hendrerit ex eu scelerisque.</p>

                  <h4>Attraction needs attention</h4>
                  <p>In order to attract what you want, you actually have to consciously and strategically think about what you want and focus in on it. Then, you need to take some sort of action using the same <a href="#">four strategies</a> you use to ask for help in order to make it happen. You can't get what you want sitting around on your couch. You need to put yourself out there and stimulate interest in person, via email, by phone and through social media.</p>

                  <h2>Stylish article pages</h2>

                  <figure class="alignright">
                    <img data-src="/assets/img/content/single/single_post_img_2.jpg" src="/assets/img/empty.png" alt="" class="lazyload">
                    <figcaption>make it happen</figcaption>
                  </figure>  

                  <p>Stimulating interest in person can be powerful, especially if you surround yourself with the right people and the right ideas. A study by Nielsen found that <strong>83 percent of people trust referrals</strong> from others they know. If you have a product, service, content or any other value that you provide to others, let them know when you talk in person or over the phone. As an example, if you're working with a charity organization, <a href="#">tell a story</a> about how much money you helped raise for another charity you're affiliated with.</p>

                  <p>If you win an important award in an industry, put it in your email signature or as a tagline in a piece of social content. Showcasing your wins organically and authentically will attract more of the same.</p>

                  <h5>List of features</h5>
                  <ul>
                    <li>Reusable components</li>
                    <li>Multiple niches</li>
                    <li>Lightning fast</li>
                    <li>BEM methodology</li>
                    <li>Organized JS/Sass files</li>
                  </ul>                  

                  <h6>Summary</h6>
                  
                  <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos. Lorem ipsum dolor sit amet, consectetur adipiscing elit. And finally the subconscious is the mechanism through which thought impulses which are repeated regularly with feeling and emotion are quickened, charged. And finally the subconscious is the mechanism through which thought impulses which are repeated regularly with feeling and emotion.</p>

                  
                  <div class="final-review" style="background-image: url('/assets/img/content/single/final_review.jpg')">                    
                    <div class="final-review__score">
                      <span class="final-review__score-number">9.2</span>
                    </div>
                    <div class="final-review__text-holder">
                      <h6 class="final-review__title">Great</h6>
                      <p class="final-review__text">Lovingly rendered real-world space tech,playing through actual missions is a special thrill,scoring system gives much needed additional incentive to perfect your designs</p>
                    </div>
                  </div> 

                  <div class="entry__tags">
                    <i class="ui-tags"></i>
                    <span class="entry__tags-label">Tags:</span>
                    <a href="#" rel="tag">mobile</a><a href="#" rel="tag">gadgets</a><a href="#" rel="tag">satelite</a>
                  </div>

                </div>-->
              </div> <!-- end entry article wrap -->
              

              <!-- Newsletter Wide -->
              <div class="newsletter-wide">
                <div class="widget widget_mc4wp_form_widget">
                  <div class="newsletter-wide__container">
                    <div class="newsletter-wide__text-holder">
                      <p class="newsletter-wide__text">
                        <i class="ui-email newsletter__icon"></i>
                        Subscribe for our daily news
                      </p>
                    </div>
                    <div class="newsletter-wide__form">
                      <form class="mc4wp-form" method="post">
                        <div class="mc4wp-form-fields">
                          <div class="form-group">
                            <input type="email" name="EMAIL" placeholder="Your email" required="">
                          </div>
                          <div class="form-group">
                            <input type="submit" class="btn btn-lg btn-color" value="Sign Up">
                          </div>
                        </div>
                      </form>
                    </div> 
                  </div>         
                </div>
              </div> <!-- end newsletter wide -->

              <!-- Prev / Next Post -->
             <!-- <nav class="entry-navigation">
                <div class="clearfix">
                  <div class="entry-navigation--left">
                    <i class="ui-arrow-left"></i>
                    <span class="entry-navigation__label">Previous Post</span>
                    <div class="entry-navigation__link">
                      <a href="#" rel="next">How to design your first mobile app</a>
                    </div>
                  </div>
                  <div class="entry-navigation--right">
                    <span class="entry-navigation__label">Next Post</span>
                    <i class="ui-arrow-right"></i>
                    <div class="entry-navigation__link">
                      <a href="#" rel="prev">Video Youtube format post. Made with WordPress</a>
                    </div>
                  </div>
                </div>
              </nav>-->

              <!-- Author -->
              <!--<div class="entry-author clearfix">
                <img alt="" data-src="/assets/img/content/single/author.jpg" src="/assets/img/empty.png" class="avatar lazyload">
                <div class="entry-author__info">
                  <h6 class="entry-author__name">
                    <a href="#">John Carpet</a>
                  </h6>
                  <p class="mb-0">But unfortunately for most of us our role as gardener has never been explained to us. And in misunderstanding our role, we have allowed seeds of all types, both good and bad, to enter our inner garden.</p>
                </div>
              </div> -->            

              <!-- Related Posts -->
              <section class="section related-posts mt-40 mb-0">
                <div class="title-wrap title-wrap--line title-wrap--pr">
                  <h3 class="section-title">Related Articles</h3>
                </div>

                <!-- Slider -->

                <div id="owl-posts-3-items" class="owl-carousel owl-theme owl-carousel--arrows-outside">
                  <article class="entry thumb thumb--size-1">
                    <div class="entry__img-holder thumb__img-holder" style="background-image: url({{news.related_articles[0].main_image_link}});">
                      <div class="bottom-gradient"></div>
                      <div class="thumb-text-holder">   
                        <h2 class="thumb-entry-title">
                          <a href="{{news.related_articles[0].path}}">{{news.related_articles[0].title}}</a>
                        </h2>
                      </div>
                      <a href="{{news.related_articles[0].path}}" class="thumb-url"></a>
                    </div>
                  </article>
                <article class="entry thumb thumb--size-1">
                    <div class="entry__img-holder thumb__img-holder" style="background-image: url({{news.related_articles[1].main_image_link}});">
                      <div class="bottom-gradient"></div>
                      <div class="thumb-text-holder">   
                        <h2 class="thumb-entry-title">
                          <a href="{{news.related_articles[1].path}}">{{news.related_articles[1].title}}</a>
                        </h2>
                      </div>
                      <a href="{{news.related_articles[1].path}}" class="thumb-url"></a>
                    </div>
                  </article>
                  <article class="entry thumb thumb--size-1">
                    <div class="entry__img-holder thumb__img-holder" style="background-image: url({{news.related_articles[2].main_image_link}});">
                      <div class="bottom-gradient"></div>
                      <div class="thumb-text-holder">   
                        <h2 class="thumb-entry-title">
                          <a href="{{news.related_articles[2].path}}">{{news.related_articles[2].title}}</a>
                        </h2>
                      </div>
                      <a href="{{news.related_articles[2].path}}" class="thumb-url"></a>
                    </div>
                  </article>
                  <article class="entry thumb thumb--size-1">
                    <div class="entry__img-holder thumb__img-holder" style="background-image: url({{news.related_articles[3].main_image_link}});">
                      <div class="bottom-gradient"></div>
                      <div class="thumb-text-holder">   
                        <h2 class="thumb-entry-title">
                          <a href="{{news.related_articles[3].path}}">{{news.related_articles[3].title}}</a>
                        </h2>
                      </div>
                      <a href="{{news.related_articles[3].path}}" class="thumb-url"></a>
                    </div>
                  </article>
                  <article class="entry thumb thumb--size-1">
                    <div class="entry__img-holder thumb__img-holder" style="background-image: url({{news.related_articles[4].main_image_link}})">
                      <div class="bottom-gradient"></div>
                      <div class="thumb-text-holder">   
                        <h2 class="thumb-entry-title">
                          <a href="{{news.related_articles[4].path}}">{{news.related_articles[4].title}}</a>
                        </h2>
                      </div>
                      <a href="{{news.related_articles[4].path}}" class="thumb-url"></a>
                    </div>
                  </article>
                   <article class="entry thumb thumb--size-1">
                    <div class="entry__img-holder thumb__img-holder" style="background-image: url({{news.related_articles[5].main_image_link}})">
                      <div class="bottom-gradient"></div>
                      <div class="thumb-text-holder">   
                        <h2 class="thumb-entry-title">
                          <a href="{{news.related_articles[5].path}}">{{news.related_articles[5].title}}</a>
                        </h2>
                      </div>
                      <a href="{{news.related_articles[5].path}}" class="thumb-url"></a>
                    </div>
                  </article>
                   <article class="entry thumb thumb--size-1">
                    <div class="entry__img-holder thumb__img-holder" style="background-image: url({{news.related_articles[6].main_image_link}})">
                      <div class="bottom-gradient"></div>
                      <div class="thumb-text-holder">   
                        <h2 class="thumb-entry-title">
                          <a href="{{news.related_articles[6].path}}">{{news.related_articles[6].title}}</a>
                        </h2>
                      </div>
                      <a href="{{news.related_articles[6].path}}" class="thumb-url"></a>
                    </div>
                  </article>
                   <article class="entry thumb thumb--size-1">
                    <div class="entry__img-holder thumb__img-holder" style="background-image: url({{news.related_articles[7].main_image_link}})">
                      <div class="bottom-gradient"></div>
                      <div class="thumb-text-holder">   
                        <h2 class="thumb-entry-title">
                          <a href="{{news.related_articles[7].path}}">{{news.related_articles[7].title}}</a>
                        </h2>
                      </div>
                      <a href="{{news.related_articles[7].path}}" class="thumb-url"></a>
                    </div>
                  </article>
                </div> <!-- end slider -->

              </section> <!-- end related posts -->            

            </article> <!-- end standard post -->

            <!-- Comments -->
            <div class="entry-comments">
              <div class="title-wrap title-wrap--line">
                <h3 class="section-title">{{news.comments.length}} comments</h3>
              </div>
              <ul class="comment-list">
                <li class="comment" ng-repeat="com in news.comments">  
                  <div class="comment-body">
                    <div class="comment-avatar">
                      <img alt="user-picture" src="/assets/img/content/single/comment_2.jpg">

                    </div>
                    <div class="comment-text">
                      <h6 class="comment-author">{{com.name}}</h6>
                      <div class="comment-metadata">
                        <a href="" class="comment-date">{{com.date | date: "mediumDate"}} by {{com.date | date: "shortTime"}}</a>
                      </div>                      
                      <p>{{com.message}}</p>
                      <!--<a href="#" class="comment-reply">Reply</a>-->
                    </div>
                  </div>

                  <!--<ul class="children">
                    <li class="comment">
                      <div class="comment-body">
                        <div class="comment-avatar">
                          <img alt="" src="/assets/img/content/single/comment_2.jpg">
                        </div>
                        <div class="comment-text">
                          <h6 class="comment-author">Alexander Samokhin</h6>
                          <div class="comment-metadata">
                            <a href="#" class="comment-date">July 17, 2017 at 12:48 pm</a>  
                          </div>                      
                          <p>This template is so awesome. I didn’t expect so many features inside. E-commerce pages are very useful, you can launch your online store in few seconds. I will rate 5 stars.</p>
                          <a href="#" class="comment-reply">Reply</a>
                        </div>
                      </div>
                    </li> 
                  </ul>-->

                </li> <!-- end 1-2 comment -->

                <!--<li>
                  <div class="comment-body">
                    <div class="comment-avatar">
                      <img alt="" src="/assets/img/content/single/comment_3.jpg">
                    </div>
                    <div class="comment-text">
                      <h6 class="comment-author">Chris Root</h6>
                      <div class="comment-metadata">
                        <a href="#" class="comment-date">July 17, 2017 at 12:48 pm</a>  
                      </div>                      
                      <p>This template is so awesome. I didn’t expect so many features inside. E-commerce pages are very useful, you can launch your online store in few seconds. I will rate 5 stars.</p>
                      <a href="#" class="comment-reply">Reply</a>
                    </div>
                  </div>
                </li>--> <!-- end 3 comment -->

              </ul>         
            </div> <!-- end comments -->

            <!-- Comment Form -->
            <div id="respond" class="comment-respond">
              <div class="title-wrap">
                <h5 class="comment-respond__title section-title">Leave a Reply</h5>
              </div>
              <form>
                

                <!--<div class="row row-20">
                  <div class="col-lg-4">
                    <label for="name">Name: *</label>
                    <input name="name" type="text" ng-model="user.name">
                  </div>
                  <div class="col-lg-4">
                    <label for="comment">Email: *</label>
                    <input name="email" id="email" type="email">
                  </div>
                  <div class="col-lg-4">
                    <label for="comment">Website:</label>
                    <input name="website" id="website" type="text">
                  </div>
                </div>-->

                <div class="">
                    <label for="name">Name: *</label>
                    <input name="name" type="text" ng-model="user.name">
                </div>

                <p class="comment-form-comment">
                  <label for="comment">Comment</label>
                  <textarea ng-model="user.message" rows="5" required="required"></textarea>
                </p>

              

                <p class="comment-form-submit">
                  <input type="submit" class="btn btn-lg btn-color btn-button" value="Post Comment" ng-click="postComment()">
                </p>
                
              </form>
            </div> <!-- end comment form -->

          </div> <!-- end content box -->
        </div> <!-- end post content -->
        <div class="clearfix"></div>
        <!-- Sidebar -->
        <aside class="col-lg-4 sidebar sidebar--right">

          <!-- Widget Popular Posts -->
          <aside class="widget widget-popular-posts">
            <h4 class="widget-title">Popular Posts</h4>
            <ul class="post-list-small">
              <li class="post-list-small__item" ng-repeat="cat in catList">
                <article class="post-list-small__entry clearfix">
                  <div class="post-list-small__img-holder">
                    <div class="thumb-container thumb-100">
                      <a href="{{cat.link}}">
                        <img src="{{cat.main_image_link}}"  alt="" class="post-list-small__img--rounded lazyload"><!--src="/assets/img/empty.png"-->
                      </a>
                    </div>
                  </div>
                  <div class="post-list-small__body">
                    <h3 class="post-list-small__entry-title">
                      <a href="{{cat.path}}">{{cat.title}}</a>
                    </h3>
                    <ul class="entry__meta">
                      <!--<li class="entry__meta-author">
                        <span>by</span>
                        <a href="">{{cat.reporter_name}}</a>
                      </li>-->
                      <li class="entry__meta-date">
                        {{cat.pubDate | date: "fullDate"}}
                      </li>
                    </ul>
                  </div>                  
                </article>
              </li>
             <!-- <li class="post-list-small__item">
                <article class="post-list-small__entry clearfix">
                  <div class="post-list-small__img-holder">
                    <div class="thumb-container thumb-100">
                      <a href="single-post.html">
                        <img data-src="/assets/img/content/post_small/post_small_2.jpg" src="/assets/img/empty.png" alt="" class="post-list-small__img--rounded lazyload">
                      </a>
                    </div>
                  </div>
                  <div class="post-list-small__body">
                    <h3 class="post-list-small__entry-title">
                      <a href="single-post.html">Lose These 12 Bad Habits If You're Serious About Becoming a Millionaire</a>
                    </h3>
                    <ul class="entry__meta">
                      <li class="entry__meta-author">
                        <span>by</span>
                        <a href="#">junniepat</a>
                      </li>
                      <li class="entry__meta-date">
                        Jan 21, 2018
                      </li>
                    </ul>
                  </div>                  
                </article>
              </li>
              <li class="post-list-small__item">
                <article class="post-list-small__entry clearfix">
                  <div class="post-list-small__img-holder">
                    <div class="thumb-container thumb-100">
                      <a href="single-post.html">
                        <img data-src="/assets/img/content/post_small/post_small_3.jpg" src="/assets/img/empty.png" alt="" class="post-list-small__img--rounded lazyload">
                      </a>
                    </div>
                  </div>
                  <div class="post-list-small__body">
                    <h3 class="post-list-small__entry-title">
                      <a href="single-post.html">June in Africa: Taxi wars, smarter cities and increased investments</a>
                    </h3>
                    <ul class="entry__meta">
                      <li class="entry__meta-author">
                        <span>by</span>
                        <a href="#">junniepat</a>
                      </li>
                      <li class="entry__meta-date">
                        Jan 21, 2018
                      </li>
                    </ul>
                  </div>                  
                </article>
              </li>
              <li class="post-list-small__item">
                <article class="post-list-small__entry clearfix">
                  <div class="post-list-small__img-holder">
                    <div class="thumb-container thumb-100">
                      <a href="single-post.html">
                        <img data-src="/assets/img/content/post_small/post_small_4.jpg" src="/assets/img/empty.png" alt="" class="post-list-small__img--rounded lazyload">
                      </a>
                    </div>
                  </div>
                  <div class="post-list-small__body">
                    <h3 class="post-list-small__entry-title">
                      <a href="single-post.html">PUBG Desert Map Finally Revealed, Here Are All The Details</a>
                    </h3>
                    <ul class="entry__meta">
                      <li class="entry__meta-author">
                        <span>by</span>
                        <a href="#">junniepat</a>
                      </li>
                      <li class="entry__meta-date">
                        Jan 21, 2018
                      </li>
                    </ul>
                  </div>                  
                </article>
              </li>-->
            </ul>           
          </aside> <!-- end widget popular posts -->

          <!-- Widget Newsletter -->
         <!--<aside class="widget widget_mc4wp_form_widget">
            <h4 class="widget-title">Newsletter</h4>
            <p class="newsletter__text">
              <i class="ui-email newsletter__icon"></i>
              Subscribe for our daily news
            </p>
            <form class="mc4wp-form" method="post">
              <div class="mc4wp-form-fields">
                <div class="form-group">
                  <input type="email" name="EMAIL" placeholder="Your email" required="">
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-lg btn-color" value="Sign Up">
                </div>
              </div>
            </form>
          </aside>--> <!-- end widget newsletter -->

          <!-- Widget Socials -->
          <aside class="widget widget-socials">
            <h4 class="widget-title">Let's hang out on social</h4>
            <div class="socials socials--wide socials--large">
              <div class="row row-16">
                <div class="col">
                  <a class="social social-facebook" href="https://www.facebook.com/wobinews1/" title="facebook" target="_blank" aria-label="facebook">
                    <i class="ui-facebook"></i>
                    <span class="social__text">Facebook</span>
                  </a><!--
                  --><a class="social social-twitter" href="https://twitter.com/wobinews" title="twitter" target="_blank" aria-label="twitter">
                    <i class="ui-twitter"></i>
                    <span class="social__text">Twitter</span>
                  </a>
                  
                 
                </div>
                <div class="col">
                 <a class="social social-instagram" href="https://www.instagram.com/wobinews/" title="instagram" target="_blank" aria-label="instagram">
                    <i class="ui-instagram"></i>
                    <span class="social__text">Instagram</span>
                  </a>
                 <!-- <a class="social social-google-plus" href="#" title="google" target="_blank" aria-label="google">
                    <i class="ui-google"></i>
                    <span class="social__text">Google+</span>
                  </a>-->
                     <!--<a class="social social-youtube" href="#" title="youtube" target="_blank" aria-label="youtube">
                    <i class="ui-youtube"></i>
                    <span class="social__text">Youtube</span>
                  </a>-->
                  <!--<a class="social social-rss" href="#" title="rss" target="_blank" aria-label="rss">
                    <i class="ui-rss"></i>
                    <span class="social__text">Rss</span>
                  </a>-->
                </div>                
              </div>            
            </div>
          </aside> <!-- end widget socials -->

        </aside> <!-- end sidebar -->
      
      </div> <!-- end content -->
    </div> <!-- end main container -->

    <!-- facebook share -->
    <div id="fb-root"></div>

    <!-- Footer -->
   <% include footer %>

   <!-- end Footer -->

    <div id="back-to-top">
      <a href="#top" aria-label="Go to top"><i class="ui-arrow-up"></i></a>
    </div>

  </main> <!-- end main-wrapper -->
 
   <!-- angular code -->
  <script src="/assets/js/angular-1.7.2/angular-resource.min.js"></script>
  <script src="/assets/js/angular-1.7.2/angular-route.min.js"></script>
  <script src="/assets/js/angular-clipboard.js"></script>
  <script src="/assets/js/client.js"></script>

  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  
  <!-- jQuery Scripts -->
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/easing.min.js"></script>
  <script src="/assets/js/owl-carousel.min.js"></script>
  <script src="/assets/js/flickity.pkgd.min.js"></script>
  <script src="/assets/js/twitterFetcher_min.js"></script>
  <script src="/assets/js/jquery.sticky-kit.min.js"></script>
  <script src="/assets/js/jquery.newsTicker.min.js"></script>  
  <script src="/assets/js/modernizr.min.js"></script>
  <script src="/assets/js/scripts.js"></script>

</body>

<!-- Mirrored from junniepat.com/envato/WOBI/html/single-post.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 13 Jun 2018 16:12:38 GMT -->
</html>