<!DOCTYPE html>
<html lang="en" ng-app="myApp">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/plugins/images/favicon.png">
    <title>Wobinews | Admin</title>
    <!-- Bootstrap Core CSS -->
    <link href="/assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Posts CSS -->
    <link href="/assets/plugins/bower_components/summernote/dist/summernote.css" rel="stylesheet" />
    <!-- Menu CSS -->
    <link href="/assets/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="/assets/css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/assets/css/admin.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="/assets/css/colors/default.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

 <!-- angular js  -->
  <script src="/assets/js/angular-1.7.2/angular.min.js"></script>
  <style type="text/css">
    .shw-rside {
        right: 0;
        width: 70%;
        display: block;
    }
   
  </style>
</head>

<body class="fix-header">
<!-- ============================================================== -->
<!-- Preloader -->
<!-- ============================================================== -->
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
</div>
<!-- ============================================================== -->
<!-- Wrapper -->
<!-- ============================================================== -->
<div id="wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <nav class="navbar navbar-default navbar-static-top m-b-0">
        <div class="navbar-header">
            <div class="top-left-part">
                <!-- Logo -->
                <h3 style="display: inline-block;margin-left: 30px">WOBINEWS ADMIN</h3>
                <a class="logo" href="/auth">
                    <!-- Logo icon image, you can use font-icon also -->
                    <b>
                        
                        <!--This is dark logo icon-->
                        <!--<img src="/assets/plugins/images/admin-logo.png" alt="home" class="dark-logo" />-->
                        <!--This is light logo icon-->
                        <!--<img src="/assets/plugins/images/admin-logo-dark.png" alt="home" class="light-logo" />-->
                    </b>
                    <!-- Logo text image you can use text also -->
                    <span class="hidden-xs">
                        
                        <!--This is dark logo text-->
                        <!--<img src="/assets/plugins/images/admin-text.png" alt="home" class="dark-logo" />-->
                        <!--This is light logo text-->
                        <!--<img src="/assets/plugins/images/admin-text-dark.png" alt="home" class="light-logo" />-->
                    </span>
                </a>
            </div>
            <!-- /Logo -->
            <!-- Search input and Toggle icon -->
            <ul class="nav navbar-top-links navbar-left">
                <li>
                    <a href="javascript:void(0)" class="open-close waves-effect waves-light">
                        <i class="ti-menu"></i>
                    </a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#">
                        <i class="mdi mdi-gmail"></i>
                        <div class="notify">
                            <span class="heartbit"></span>
                            <span class="point"></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu mailbox animated bounceInDown">
                        <li>
                            <div class="drop-title">You have 4 new messages</div>
                        </li>
                        <li>
                            <div class="message-center">
                                <a href="#">
                                    <div class="user-img">
                                        <img src="/assets/plugins/images/users/pawandeep.jpg" alt="user" class="img-circle">
                                        <span class="profile-status online pull-right"></span>
                                    </div>
                                    <div class="mail-contnet">
                                        <h5>Pavan kumar</h5>
                                        <span class="mail-desc">Just see the my admin!</span>
                                        <span class="time">9:30 AM</span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="user-img">
                                        <img src="/assets/plugins/images/users/sonu.jpg" alt="user" class="img-circle">
                                        <span class="profile-status busy pull-right"></span>
                                    </div>
                                    <div class="mail-contnet">
                                        <h5>Sonu Nigam</h5>
                                        <span class="mail-desc">I've sung a song! See you at</span>
                                        <span class="time">9:10 AM</span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="user-img">
                                        <img src="/assets/plugins/images/users/arijit.jpg" alt="user" class="img-circle">
                                        <span class="profile-status away pull-right"></span>
                                    </div>
                                    <div class="mail-contnet">
                                        <h5>Arijit Sinh</h5>
                                        <span class="mail-desc">I am a singer!</span>
                                        <span class="time">9:08 AM</span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="user-img">
                                        <img src="/assets/plugins/images/users/pawandeep.jpg" alt="user" class="img-circle">
                                        <span class="profile-status offline pull-right"></span>
                                    </div>
                                    <div class="mail-contnet">
                                        <h5>Pavan kumar</h5>
                                        <span class="mail-desc">Just see the my admin!</span>
                                        <span class="time">9:02 AM</span>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <a class="text-center" href="javascript:void(0);">
                                <strong>See all notifications</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- .Task dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#">
                        <i class="mdi mdi-check-circle"></i>
                        <div class="notify">
                            <span class="heartbit"></span>
                            <span class="point"></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks animated slideInUp">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 1</strong>
                                        <span class="pull-right text-muted">40% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                                            style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 2</strong>
                                        <span class="pull-right text-muted">20% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 3</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                            style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 4</strong>
                                        <span class="pull-right text-muted">80% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                                            style="width: 80%">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- .Megamenu -->

                <!-- /.Megamenu -->
            </ul>
            <!--<ul class="nav navbar-top-links navbar-right pull-right">
                <li>
                    <form role="search" class="app-search hidden-sm hidden-xs m-r-10">
                        <input type="text" placeholder="Search..." class="form-control">
                        <a href="#">
                            <i class="fa fa-search"></i>
                        </a>
                    </form>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#">
                        <img src="/assets/plugins/images/users/varun.jpg" alt="user-img" width="36" class="img-circle">
                        <b class="hidden-xs">Junniepat</b>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-user animated flipInY">
                        <li>
                            <div class="dw-user-box">
                                <div class="u-img">
                                    <img src="/assets/plugins/images/users/varun.jpg" alt="user" />
                                </div>
                                <div class="u-text">
                                    <h4>Junniepat Jobs</h4>
                                    <p class="text-muted">varun@gmail.com</p>
                                    <a href="profile.html" class="btn btn-rounded btn-danger btn-sm">View Profile</a>
                                </div>
                            </div>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="#">
                                <i class="ti-user"></i> My Profile</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-wallet"></i> My Balance</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-email"></i> Inbox</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="#">
                                <i class="ti-settings"></i> Account Setting</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="#">
                                <i class="fa fa-power-off"></i> Logout</a>
                        </li>
                    </ul>-->
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </div>
        <!-- /.navbar-header -->
        <!-- /.navbar-top-links -->
        <!-- /.navbar-static-side -->
    </nav>
    <!-- End Top Navigation -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav slimscrollsidebar">
            <div class="sidebar-hea">
                <h3>
                    <span class="fa-fw open-close">
                        <i class="ti-close ti-menu"></i>
                    </span>
                    <span class="hide-menu">Navigation</span>
                </h3>
            </div>
            <div class="user-profile">
                <div class="dropdown user-pro-body">
                    <div>
                        <img src="/assets/plugins/images/users/varun.jpg" alt="user-img" class="img-circle">
                    </div>
                    <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <%= user.firstname %> <%= user.lastname %>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu animated flipInY">
                        <!--<li>
                            <a href="#">
                                <i class="ti-user"></i> My Profile</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-wallet"></i> My Balance</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-email"></i> Inbox</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="#">
                                <i class="ti-settings"></i> Account Setting</a>
                        </li>-->
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="/logout">
                                <i class="fa fa-power-off"></i> Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="nav" id="side-menu">
                <li>
                    <a href="/auth" class="waves-effect active">
                        <i class="mdi mdi-av-timer fa-fw" data-icon="v"></i>
                        <span class="hide-menu"> Dashboard
                            <span class="fa arrow"></span>
                        </span>
                    </a>
                </li>





                <li class="devider"></li>
                <li>
                    <a href="" class="waves-effect">
                        <i class="mdi mdi-clipboard-text fa-fw"></i>
                        <span class="hide-menu">Manage Post
                            <span class="fa arrow"></span>
                        </span>
                    </a>
                    <ul class="nav nav-second-level">

                        <li>
                            <a href="/auth/summernote">
                                <i class="fa-fw"></i>
                                <span class="hide-menu">New Post</span>
                            </a>
                        </li>
                        <li>
                            <a href="/auth/review">
                                <i class=" fa-fw"></i>
                                <span class="hide-menu">Review Post</span>
                            </a>
                        </li>

                        <li>
                            <a href="/auth/media-files">
                                <i class=" fa-fw"></i>
                                <span class="hide-menu">Multi-Media</span>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Posts</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <button class="right-side-toggle  btn-info btn pull-right m-l-20">Choose Images</button>
                       
                        <!--<ol class="breadcrumb">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Forms</a></li>
                            <li class="active">Posts</li>
                        </ol>-->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- .row -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">New Post</h3>
                            <div style="padding-top: 10px">
                                <select type="text" class="form-control"  id="category">
                                    <option disabled="disabled" value="" selected="selected">Select category</option>
                                    <option value="Politics">Politics</option>
                                    <option value="Sports">Sports</option>
                                    <option value="Business">Business</option>
                                    <option value="Entertainment">Entertainment</option>
                                    <option value="Technology">Technology</option>
                                    <option value="Lifestyle">Lifestyle</option>
                                    <option value="World">World</option>
                                </select>
                            </div>
                            <div style="padding-top: 10px">
                                <input type="text" class="form-control" placeholder="Title" id="title">
                            </div>
                             <div style="padding-top: 10px">
                                <input type="text" class="form-control" placeholder="banner image link" id="image-link">
                            </div>
                            <div class="summernote">
                                
                            </div>
                            <div>
                                <button class="btn btn-danger" id="postArt">Post</button>
                                <span class="btn btn-danger" id="status"><b>Posting...</b></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <!-- .row -->
                <!--<div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title m-b-0">Air mode Inline editior</h3> <small>Select some text to edit via summernote</small>
                            <hr>
                            <div class="inline-editor">
                                <h3>Title Heading will be <b>apear here</b></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elitconsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <ul class="list-icons">
                                    <li><i class="fa fa-check text-success"></i> Lorem ipsum dolor sit amet</li>
                                    <li><i class="fa fa-check text-success"></i> Consectetur adipiscing elit</li>
                                    <li><i class="fa fa-check text-success"></i> Integer molestie lorem at massa </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- /.row -->
                <!-- .row -->
                <!--<div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title m-b-0">Click to edit</h3> <small>You can edit content on the fly.</small>
                            <hr>
                            <div class="click2edit m-b-40">Click on Edite button and change the text then save it.</div> <a id="edit" class="btn btn-info btn-rounded" onclick="edit()" type="button">Edit</a> <a id="save" class="btn btn-success btn-rounded" onclick="save()" type="button">Save</a> </div>
                    </div>
                </div>-->
                <!-- /.row -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <div class="right-sidebar">
                    <div class="slimscrollright" ng-controller="multiMediaCtrl" style="overflow-y: auto;">
                        <div class="rpanel-title"> Images 
                        <input type="text" name="" ng-model="file" placeholder="Filter by name of file" class="form-control" style="width: 50%;display: inline-block;">
                        <span><i class="ti-close right-side-toggle"></i></span> </div>
                            <div class="right-side-toggle">
                            <a href="" ng-repeat="item in images | filter : file | orderBy: '-date'" clipboard supported="supported" text="item.path" on-copied="success(item)" on-error="fail(err)"  style="display: inline-block;max-width: 150px;max-height: 150px;margin: 5px" title="{{ item.copy || ('Copy ( ' + item.name + ' ) link')}}">
                                <img src="{{item.path}}" alt="image" style="width: 100%;height: 100%">
                            </a>
                            </div>
                        <!--<div class="r-panel-body">
                            <ul id="themecolors" class="m-t-20">
                                <li><b>With Light sidebar</b></li>
                                <li><a href="javascript:void(0)" data-theme="default" class="default-theme">1</a></li>
                                <li><a href="javascript:void(0)" data-theme="green" class="green-theme">2</a></li>
                                <li><a href="javascript:void(0)" data-theme="gray" class="yellow-theme">3</a></li>
                                <li><a href="javascript:void(0)" data-theme="blue" class="blue-theme">4</a></li>
                                <li><a href="javascript:void(0)" data-theme="purple" class="purple-theme">5</a></li>
                                <li><a href="javascript:void(0)" data-theme="megna" class="megna-theme">6</a></li>
                                <li><b>With Dark sidebar</b></li>
                                <br/>
                                <li><a href="javascript:void(0)" data-theme="default-dark" class="default-dark-theme">7</a></li>
                                <li><a href="javascript:void(0)" data-theme="green-dark" class="green-dark-theme">8</a></li>
                                <li><a href="javascript:void(0)" data-theme="gray-dark" class="yellow-dark-theme">9</a></li>
                                <li><a href="javascript:void(0)" data-theme="blue-dark" class="blue-dark-theme">10</a></li>
                                <li><a href="javascript:void(0)" data-theme="purple-dark" class="purple-dark-theme">11</a></li>
                                <li><a href="javascript:void(0)" data-theme="megna-dark" class="megna-dark-theme working">12</a></li>
                            </ul>
                            <ul class="m-t-20 all-demos">
                                <li><b>Choose other demos</b></li>
                            </ul>
                            <ul class="m-t-20 chatonline">
                                <li><b>Chat option</b></li>
                                <li>
                                    <a href="javascript:void(0)"><img src="/assets/plugins/images/users/varun.jpg" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="/assets/plugins/images/users/genu.jpg" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="/assets/plugins/images/users/ritesh.jpg" alt="user-img" class="img-circle"> <span>Ritesh Deshmukh <small class="text-danger">Busy</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="/assets/plugins/images/users/arijit.jpg" alt="user-img" class="img-circle"> <span>Arijit Sinh <small class="text-muted">Offline</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="/assets/plugins/images/users/govinda.jpg" alt="user-img" class="img-circle"> <span>Govinda Star <small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="/assets/plugins/images/users/hritik.jpg" alt="user-img" class="img-circle"> <span>John Abraham<small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="/assets/plugins/images/users/john.jpg" alt="user-img" class="img-circle"> <span>Hritik Roshan<small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="/assets/plugins/images/users/pawandeep.jpg" alt="user-img" class="img-circle"> <span>Pwandeep rajan <small class="text-success">online</small></span></a>
                                </li>
                            </ul>
                        </div>-->
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 
            <p class="copyright">
                  &copy;
                  <script>
                      document.write(new Date().getFullYear())
                  </script>, WOBINEWS LTD
            </p></footer>
        </div>
        <!-- /#page-wrapper -->
    </div>

    <!-- angular code -->
    <script src="/assets/js/angular-1.7.2/angular-resource.min.js"></script>
    <script src="/assets/js/angular-1.7.2/angular-route.min.js"></script>

    <script src="/assets/js/angular-clipboard.js"></script>
    <script src="/assets/js/client.js"></script>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="/assets/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="/assets/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="/assets/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="/assets/js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/assets/js/custom.min.js"></script>
    <script src="/assets/plugins/bower_components/summernote/dist/summernote.min.js"></script>
    <script>
    jQuery(document).ready(function() {
        var editor = $('.summernote').summernote({
            height: 350, // set editor height
            minHeight: null, // set minimum height of editor
            maxHeight: null, // set maximum height of editor
            focus: false // set focus to editable area after initializing summernote
        });
        $('.inline-editor').summernote({
            airMode: true
        });

        $("#status").hide(1000);  

        $("#postArt").click(function(){  
            var title = $('#title').val();
            var category = $('#category option:selected').val();
            var image = $("#image-link").val();
            var article = editor.code();
            
            if( title  && category && article) {
                var data = {}
                data.title = title;
                data.category = category;
                data.article = article;
                data.main_image_link = image;
                data.date = new Date();
                
                $("#postArt").hide(1000);                
                $("#status").show(1000); 

                $.post("/auth/post",data,function(res,status){ 
                    $("#status").hide(1000);  
                    $("#postArt").show(1000);                                               
                    alert(res.message);
                })
            } else {
                alert("Title, Category or article field was not filled")
            }
        })

        //$.post(URL,data,callback);
    });
    window.edit = function() {
        $(".click2edit").summernote()
    }, window.save = function() {
        $(".click2edit").destroy()
    }
    </script>
    <!--Style Switcher -->
    <script src="/assets/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
</body>


</html>
